.btn-primary{
    border-radius: 8px;
    background: #E55473 #FFFFFF;
    border: none;
    color:#FFFFFF ;
    font-style: normal;
    font-weight: 700;
    padding: 20px 43px;
    }
/* header related style*/
.header {
    background:rgba(229, 84, 115, 0.10);
    background-image: url('../Flower\ Asset/.header');
    background-repeat: no-repeat;
    background-position:bottom right
}
.banner {
    padding:30px 30px 30px 50px;
    display: flex;
    align-items: center;
    
}
.profile-pic{
    width: 500px;
}

banner-content{
    width: 1920px;
    height: 850px;
    flex-shrink: 0px;
 
}
banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style:normal;
    font-weight: 800px;
   margin-bottom: 5px;
     padding-bottom: 20px;
}
banner-description{
    display: flex;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}